<form method="POST" action="patch '/articles/:id'">
  <input type="text" id="title" name="title">
  <input type="text" id="content" name="content">
  <input type="submit" value="Submit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
</form>
